<div style="padding: 15px" id="body">
  <br/>
  <br/>
  <style>
    #comment_table, #user_input_comment {
      width: 100%;
    }

    #comment_table th, td {
      padding: 15px;
      text-align: left;
      border: 1px solid black;
    }

    #user_input_comment th, td {
      padding: 15px;
      text-align: left;
      border: 1px solid black;
    }
  </style>
  <% if @my_comment != nil %>
    <% puts "my_comment is not empty" %>
    <h1>List of Comments</h1>
    <table id="comment_table">
      <tr>
<!--        <th>Comment ID</th>-->
        <th>Created At</th>
        <th>Commenter Name</th>
        <th>Content</th>
        <th>Delete Comment</th>
      </tr>

      <% @my_comment.each do |com| %>
        <tr>
<!--          <td><%#= com.comment_id %></td>-->
          <td><%= com.time_created %></td>
          <td><%= com.commenter_name %></td>
          <td><%= com.content %></td>
          <td><a href="/comment_delete?comment_id=<%= com.comment_id %>">Delete Comment</a></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <h1 style="text-align: center;">There have not been any comments made!!</h1>
  <% end %>
  <br/>
  <br/>
  <hr>
  <br/>
  <br/>
  <div>
    <h1>Create a new Comment!!</h1>
    <form action="/comment" method="get">
      <table id="user_input_comment">
        <tr>
          <th>Commenter Name :</th>
          <td>
            <input id="commenter_name" type="text" name="commenter_name" placeholder="Insert Name Here" style="width: 100%;">
          </td>
        </tr>
        <tr>
          <th>Content</th>
          <td>
            <input id="comment_content" type="text" name="comment_content" placeholder="Insert Your Comment Here" style="width: 100%;">
          </td>
        </tr>
      </table>
      <br/>
      <button type="submit">Submit Comment</button>
    </form>
  </div>
</div>