<div>
  <div style="width:49%; float:right;">
    <h1>For Admin Login : </h1>
    <p>Username : admin</p>
    <p>Password : admin</p>
  </div>
  <div style="width:49%; float:left;">
    <h1>For Student Login : </h1>
    <p>Username : student</p>
    <p>Password : student</p>
  </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div>
  <form action='/login' method='post'>
    <p>Username :</p>
    <input type="text" name="username" title="username_input">
    <p>Password :</p>
    <input type="password" name="password" title="password_input">
    <br/><br/>
    <input type="submit" name="submit">
  </form>
</div>
