<form action='/login' method='post'>
	<div>
		<h1>For Admin Login : </h1>
		<br/><p>Username : admin</p>
		<br/><p>Password : admin</p>
	</div>
  <p>Username :</p>
  <input type="text" name="username" title="username_input">
  <p>Password :</p>
  <input type="password" name="password" title="password_input">
  <br/><br/>
  <input type="submit" name="submit">
</form>
