<!DOCTYPE html>
<html>
<head>
  <title>Page Not Found</title>
  <link href="style.css" type="text/css" rel="stylesheet">
</head>
<body>
<div id="header_items">
  <h1 id="header_system_name">Assignment 2 Student System</h1>
  <div id="header_image">
    <img src="images/school-kids-schoolhouse.png" id='image'>
  </div>
  <div class="navigation_bar">
    <ul>
      <li><a href="/login">Login Now</a></li>
    </ul>
  </div>
</div>
<div id="body_content">
  <%= yield %>
</div>
</body>
</html>